# Multivariate Linear Regression

## Import Dataset

In [1]:
# from google.colab import files
# files.upload()

## Import Libraries

In [2]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd

## Dataset Visualization

In [3]:
# Import Dataset
dataset = pd.read_excel('real-estate.xlsx')

In [4]:
print(dataset)

      No  X1 transaction date  ...  X6 longitude  Y house price of unit area
0      1          2012.916667  ...     121.54024                        37.9
1      2          2012.916667  ...     121.53951                        42.2
2      3          2013.583333  ...     121.54391                        47.3
3      4          2013.500000  ...     121.54391                        54.8
4      5          2012.833333  ...     121.54245                        43.1
..   ...                  ...  ...           ...                         ...
409  410          2013.000000  ...     121.50381                        15.4
410  411          2012.666667  ...     121.54310                        50.0
411  412          2013.250000  ...     121.53986                        40.6
412  413          2013.000000  ...     121.54067                        52.5
413  414          2013.500000  ...     121.54310                        63.9

[414 rows x 8 columns]

In [5]:
dataset.columns

Index(['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude',
       'Y house price of unit area'],
      dtype='object')

In [6]:
dataset.head(10)

   No  X1 transaction date  ...  X6 longitude  Y house price of unit area
0   1          2012.916667  ...     121.54024                        37.9
1   2          2012.916667  ...     121.53951                        42.2
2   3          2013.583333  ...     121.54391                        47.3
3   4          2013.500000  ...     121.54391                        54.8
4   5          2012.833333  ...     121.54245                        43.1
5   6          2012.666667  ...     121.51254                        32.1
6   7          2012.666667  ...     121.53642                        40.3
7   8          2013.416667  ...     121.54228                        46.7
8   9          2013.500000  ...     121.48458                        18.8
9  10          2013.416667  ...     121.51486                        22.1

[10 rows x 8 columns]

In [7]:
dataset.tail(5)

      No  X1 transaction date  ...  X6 longitude  Y house price of unit area
409  410          2013.000000  ...     121.50381                        15.4
410  411          2012.666667  ...     121.54310                        50.0
411  412          2013.250000  ...     121.53986                        40.6
412  413          2013.000000  ...     121.54067                        52.5
413  414          2013.500000  ...     121.54310                        63.9

[5 rows x 8 columns]

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   No                                      414 non-null    int64
 1   X1 transaction date                     414 non-null    float64
 2   X2 house age                            414 non-null    float64
 3   X3 distance to the nearest MRT station  414 non-null    float64
 4   X4 number of convenience stores         414 non-null    int64
 5   X5 latitude                             414 non-null    float64
 6   X6 longitude                            414 non-null    float64
 7   Y house price of unit area              414 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

## Splitting Dataset

In [9]:
# split data into train and test
X = dataset.iloc[:, 1:-1].values
y = dataset.iloc[:, -1:].values

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75, random_state=0) # 75% split
print(X_train.shape)
print(X_test.shape)

(310, 6)
(104, 6)

## Normalization of Dataset

In [10]:
# normalization of input training data
m = np.mean(X_train, axis=0)
std = np.std(X_train, axis=0)
print(m.shape)
print(std.shape)

(6,)
(6,)

In [11]:
X_train = (X_train-m) / std

In [12]:
# normalization of testing data
X_test = (X_test-m) / std

## Input Feature Vector

In [13]:
# creating input feayure vector with first column as 1
X = np.ones(shape=(X_train.shape[0], 1+X_train.shape[1]))
X[:, 1:] = X_train

In [14]:
X.shape

(310, 7)

## Calculating Bias and Weight Vector

In [15]:
# calculationg optimal weight and bias vector
inv = np.linalg.inv(np.dot(X.T, X))
theta = np.dot(inv, X.T)
theta = np.dot(theta, y_train).reshape(-1, 1)

In [16]:
print(theta.shape)

(7, 1)

## Prediction using Testing Dataset

In [17]:
# input feature vector for testing purpose
X_testing = np.ones(shape=(X_test.shape[0], 1+X_test.shape[1]))
X_testing[:, 1:] = X_test

In [18]:
# predicting output using linear regression
predict = np.dot(X_testing, theta)

for i in range(predict.shape[0]):
  print("Predicted:", predict[i], "Correct Label:", y_test[i])

Predicted: [39.77707328] Correct Label: [45.3]
Predicted: [13.17717303] Correct Label: [14.4]
Predicted: [42.6047416] Correct Label: [46.]
Predicted: [12.98203955] Correct Label: [15.6]
Predicted: [42.73582117] Correct Label: [50.2]
Predicted: [40.45119868] Correct Label: [38.1]
Predicted: [41.25880602] Correct Label: [48.5]
Predicted: [33.92979773] Correct Label: [41.4]
Predicted: [50.03313158] Correct Label: [51.6]
Predicted: [46.38378205] Correct Label: [40.1]
Predicted: [46.46939477] Correct Label: [42.]
Predicted: [41.01325285] Correct Label: [42.4]
Predicted: [39.20124825] Correct Label: [28.5]
Predicted: [40.60115306] Correct Label: [39.1]
Predicted: [47.16745737] Correct Label: [53.7]
Predicted: [38.77540445] Correct Label: [36.8]
Predicted: [40.7010488] Correct Label: [40.6]
Predicted: [40.7393178] Correct Label: [55.2]
Predicted: [41.00594658] Correct Label: [39.3]
Predicted: [42.7391369] Correct Label: [44.3]
Predicted: [49.77669611] Correct Label: [53.5]
Predicted: [31.48187459] Correct Label: [25.3]
Predicted: [39.66566621] Correct Label: [22.8]
Predicted: [45.71947377] Correct Label: [51.7]
Predicted: [46.2589259] Correct Label: [45.5]
Predicted: [43.75393192] Correct Label: [34.4]
Predicted: [47.1820979] Correct Label: [31.6]
Predicted: [25.95923894] Correct Label: [25.9]
Predicted: [48.4448736] Correct Label: [49.5]
Predicted: [21.75528895] Correct Label: [24.7]
Predicted: [45.55622206] Correct Label: [51.7]
Predicted: [35.4624832] Correct Label: [29.7]
Predicted: [42.29429447] Correct Label: [45.4]
Predicted: [38.95596349] Correct Label: [50.5]
Predicted: [44.35858402] Correct Label: [26.5]
Predicted: [32.90653524] Correct Label: [30.1]
Predicted: [48.24572672] Correct Label: [46.1]
Predicted: [39.96478875] Correct Label: [28.9]
Predicted: [52.7948711] Correct Label: [54.4]
Predicted: [7.19872252] Correct Label: [15.]
Predicted: [53.33149032] Correct Label: [44.9]
Predicted: [33.10450894] Correct Label: [29.8]
Predicted: [34.04888885] Correct Label: [23.6]
Predicted: [50.50724201] Correct Label: [48.]
Predicted: [15.77786449] Correct Label: [16.7]
Predicted: [43.95959874] Correct Label: [40.9]
Predicted: [42.51629566] Correct Label: [40.2]
Predicted: [12.86123817] Correct Label: [12.9]
Predicted: [34.3157262] Correct Label: [21.3]
Predicted: [49.32223763] Correct Label: [62.1]
Predicted: [54.49115485] Correct Label: [63.9]
Predicted: [38.75217832] Correct Label: [40.3]
Predicted: [48.02487077] Correct Label: [42.2]
Predicted: [25.81857386] Correct Label: [19.1]
Predicted: [31.01558979] Correct Label: [28.4]
Predicted: [34.43322251] Correct Label: [28.5]
Predicted: [49.20649872] Correct Label: [60.7]
Predicted: [40.98812711] Correct Label: [37.5]
Predicted: [43.62007347] Correct Label: [39.3]
Predicted: [33.10525354] Correct Label: [28.8]
Predicted: [44.67525737] Correct Label: [42.3]
Predicted: [44.46249582] Correct Label: [44.3]
Predicted: [39.4542213] Correct Label: [42.6]
Predicted: [47.23542512] Correct Label: [57.4]
Predicted: [36.96186763] Correct Label: [42.2]
Predicted: [30.21976211] Correct Label: [25.7]
Predicted: [9.47068403] Correct Label: [13.2]
Predicted: [35.45289825] Correct Label: [27.]
Predicted: [45.94250804] Correct Label: [56.2]
Predicted: [40.45119868] Correct Label: [38.3]
Predicted: [31.10341594] Correct Label: [20.8]
Predicted: [46.08764393] Correct Label: [43.1]
Predicted: [45.73923317] Correct Label: [78.3]
Predicted: [30.50703463] Correct Label: [20.9]
Predicted: [41.01353096] Correct Label: [32.5]
Predicted: [36.6674399] Correct Label: [33.4]
Predicted: [30.83687418] Correct Label: [32.1]
Predicted: [12.89730879] Correct Label: [19.2]
Predicted: [47.61041922] Correct Label: [53.]
Predicted: [45.11052907] Correct Label: [38.2]
Predicted: [47.41704591] Correct Label: [46.7]
Predicted: [29.3087988] Correct Label: [24.6]
Predicted: [43.85886931] Correct Label: [36.2]
Predicted: [31.93019051] Correct Label: [23.2]
Predicted: [35.50930549] Correct Label: [29.3]
Predicted: [33.77838426] Correct Label: [38.4]
Predicted: [42.63221321] Correct Label: [37.5]
Predicted: [45.94558889] Correct Label: [34.3]
Predicted: [54.12523616] Correct Label: [44.8]
Predicted: [47.65713297] Correct Label: [54.4]
Predicted: [39.75513454] Correct Label: [37.9]
Predicted: [43.85524926] Correct Label: [7.6]
Predicted: [33.37281946] Correct Label: [29.5]
Predicted: [33.87280341] Correct Label: [25.3]
Predicted: [23.64028896] Correct Label: [13.7]
Predicted: [40.28951193] Correct Label: [30.]
Predicted: [34.81705817] Correct Label: [30.8]
Predicted: [44.46847873] Correct Label: [40.6]
Predicted: [17.08360528] Correct Label: [20.7]
Predicted: [46.32995359] Correct Label: [40.8]
Predicted: [40.7393178] Correct Label: [55.3]
Predicted: [40.02176272] Correct Label: [40.5]
Predicted: [41.66210864] Correct Label: [40.8]
Predicted: [42.30107997] Correct Label: [40.3]

## Error Calculation

In [19]:
error = y_test - predict
sq_err = np.square(error)
RMSE = np.sqrt(np.sum(sq_err))
print("RMSE:", RMSE)

RMSE: 85.38344738907517